<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>281691024242-2lvh1rnjidrk801a17oeh28frc7lb7ns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281691024242-2lvh1rnjidrk801a17oeh28frc7lb7ns</string>
	<key>API_KEY</key>
	<string>AIzaSyCJdvKXpfkSyoNwqIt8WAgkMG4cF6i-4J4</string>
	<key>GCM_SENDER_ID</key>
	<string>281691024242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.awtarika.ios.app.production</string>
	<key>PROJECT_ID</key>
	<string>awtarika-30c65</string>
	<key>STORAGE_BUCKET</key>
	<string>awtarika-30c65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:281691024242:ios:21f2733c6baa1a4b</string>
	<key>DATABASE_URL</key>
	<string>https://awtarika-30c65.firebaseio.com</string>
	<key>TRACKING_ID</key>
	<string>UA-24454820-3</string>
</dict>
</plist>
